<div class="container-fluid">
  <app-no-selected-election-message
    [condition]="!(selectedElection!.id > 0)"
  ></app-no-selected-election-message>
</div>

<div *ngIf="selectedElection!.id > 0" class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card border mt-2">
        <div class="col-12">
          <h1 class="ms-4">
            {{ totalPosts }}<br />
            <h2>{{ "newsfeed.newsfeed" | translate }}</h2>
          </h1>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="card border mt-3">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">
                <input
                  type="text"
                  class="form-control"
                  placeholder="{{ 'newsfeed.title' | translate }}"
                  [(ngModel)]="filter.title"
                  (ngModelChange)="filterChangedSubject.next($event)"
                />
              </th>
              <th scope="col">
                <input
                  type="text"
                  class="form-control"
                  placeholder="{{ 'newsfeed.content' | translate }}"
                  [(ngModel)]="filter.content"
                  (ngModelChange)="filterChangedSubject.next($event)"
                />
              </th>
              <th scope="col">{{ "newsfeed.image-url" | translate }}</th>
              <th scope="col">{{ "newsfeed.created-at" | translate }}</th>
              <th scope="col">{{ "newsfeed.updated-at" | translate }}</th>
              <th scope="col">{{ "newsfeed.created-by" | translate }}</th>
              <th scope="col">
                <button
                  type="button"
                  class="btn btn-dark bg-light text-dark float-end mx-1"
                  (click)="resetFilter()"
                >
                  <i class="bi bi-x-lg"></i>
                </button>
                <button
                  type="button"
                  class="btn btn-dark float-end mx-1"
                  (click)="add()"
                >
                  <i class="bi bi-plus-lg"></i>
                </button>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let post of posts">
              <th scope="row">{{ post.id }}</th>
              <td>{{ post.title }}</td>
              <td>{{ post.content }}</td>
              <td>
                <a href="{{ post.imageUrl }}">{{ post.imageUrl }}</a>
              </td>
              <td>{{ post.createdAt | date : "dd.MM.yyyy HH:mm:ss" }}</td>
              <td>{{ post.updatedAt | date : "dd.MM.yyyy HH:mm:ss" }}</td>
              <td>{{ post.createdBy }}</td>
              <td>
                <div class="float-end">
                  <button
                    type="button"
                    class="btn btn-danger mx-1"
                    (click)="delete(post.id)"
                  >
                    <i class="bi bi-trash"></i>
                  </button>
                </div>
                <div class="float-end">
                  <button
                    type="button"
                    class="btn btn-dark float-end mx-1"
                    (click)="edit(post.id)"
                  >
                    <i class="bi bi-pencil-square"></i>
                  </button>
                </div>
              </td>
            </tr>
            <tr *ngIf="totalPosts < 1">
              <td colspan="8">
                <app-no-data [condition]="totalPosts < 1" />
              </td>
            </tr>
          </tbody>
        </table>

        <div class="row mt-2" *ngIf="totalPosts > 0">
          <div class="col">
            <ngb-pagination
              class="d-flex justify-content-center"
              [(page)]="paging.page"
              [pageSize]="paging.size"
              (pageChange)="onPageChange($event)"
              [collectionSize]="totalPosts"
              [maxSize]="5"
            ></ngb-pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
