<div class="container-fluid">
    <div class="card my-4" *ngIf="showInfo && totalCandidates > 0">
        <div class="card-body row">
            <div class="col" *ngFor="let candidate of candidates">
                <app-candidate-info [candidate]="candidate"></app-candidate-info>
            </div>
        </div>
    </div>

    <div class="card my-4">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">
                        <input type="text" class="form-control" placeholder="First Name" [(ngModel)]="filter.firstName"
                            (ngModelChange)="filterChangedSubject.next($event)" />
                    </th>
                    <th scope="col">
                        <input type="text" class="form-control" placeholder="Last Name" [(ngModel)]="filter.lastName"
                            (ngModelChange)="filterChangedSubject.next($event)" />
                    </th>
                    <th scope="col">
                        <div ngbDropdown container="body" class="btn btn-light p-0 mr-1">
                            <button class="btn btn-primary" id="dropdown-type" ngbDropdownToggle>
                                <span>{{ filter.party ? filter.party : 'ALL' }}</span>
                            </button>
                            <div ngbDropdownMenu aria-labelledby="dropdown-type" class="scrollable-menu">
                                <button ngbDropdownItem *ngFor="let party of parties"
                                    (click)="setPartyTypeForFilter(party)">
                                    {{ party }}
                                </button>
                            </div>
                        </div>
                    </th>
                    <th scope="col">Image</th>
                    <th scope="col">Description</th>
                    <th scope="col" [colSpan]="2">
                        <div class="float-end">
                            <button type="button" class="btn btn-dark mx-1" (click)="resetFilter()"><i
                                    class="bi bi-x-lg"></i></button>
                            <button type="button" class="btn btn-dark mx-1" (click)="add()"><i
                                    class="bi bi-plus-lg"></i></button>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody *ngIf="totalCandidates > 0">
                <tr *ngFor="let candidate of candidates">
                    <th scope="row">{{ candidate.id }}</th>
                    <td>{{ candidate.firstName }}</td>
                    <td>{{ candidate.lastName }}</td>
                    <td>{{ candidate.party }}</td>
                    <td><a href="{{ candidate.image }}">{{ candidate.image }}</a></td>
                    <td>{{ candidate.description }}</td>
                    <td [colSpan]="2">
                        <div class="float-end">
                            <button type="button" class="btn btn-danger" (click)="delete(candidate.id)"><i
                                    class="bi bi-trash"></i></button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="card" *ngIf="totalCandidates < 1">
            <div class="card-body bg-light">
                <div class="row">
                    <div class="col-4"></div>
                    <div class="col text-warning"><i class="bi bi-exclamation-circle-fill float-end"></i>&nbsp;</div>
                    <div class="col text-warning">
                        <div>Nu au fost găsite date!</div>
                    </div>
                    <div class="col-4"></div>
                </div>
            </div>
        </div>

        <div class="row mt-2" *ngIf="totalCandidates > 0">
            <div class="col">
                <ngb-pagination class="d-flex justify-content-center" [(page)]="paging.page" [pageSize]="paging.size"
                    (pageChange)="onPageChange($event)" [collectionSize]="totalCandidates"
                    [maxSize]="5"></ngb-pagination>
            </div>
        </div>
    </div>
</div>