<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card border mt-2">
        <div class="col-12">
          <h1 class="ms-4">
            {{ totalCandidates }}<br />
            <h2>{{ 'candidates.candidates' | translate }}</h2>
          </h1>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="card border mt-3">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">
                <input
                  type="text"
                  class="form-control"
                  placeholder="{{ 'candidates.firstname' | translate }}"
                  [(ngModel)]="filter.firstName"
                  (ngModelChange)="filterChangedSubject.next($event)"
                />
              </th>
              <th scope="col">
                <input
                  type="text"
                  class="form-control"
                  placeholder="{{ 'candidates.lastname' | translate }}"
                  [(ngModel)]="filter.lastName"
                  (ngModelChange)="filterChangedSubject.next($event)"
                />
              </th>
              <th scope="col">
                <div ngbDropdown container="body" class="btn btn-dark p-0 mr-1">
                  <button
                    class="btn btn-dark"
                    id="dropdown-type"
                    ngbDropdownToggle
                  >
                    <span>{{
                      !filter.party || filter.party.toString() == "ALL"
                        ? ('all' | translate)
                        : filter.party
                    }}</span>
                  </button>
                  <div
                    ngbDropdownMenu
                    aria-labelledby="dropdown-type"
                    class="scrollable-menu"
                  >
                    <button
                      ngbDropdownItem
                      *ngFor="let party of parties"
                      (click)="setPartyTypeForFilter(party)"
                    >
                      {{ party == "ALL" ? ('all' | translate) : party }}
                    </button>
                  </div>
                </div>
              </th>
              <th scope="col">{{ 'candidates.image' | translate }}</th>
              <th scope="col">{{ 'candidates.description' | translate }}</th>
              <th scope="col">
                <button
                  type="button"
                  class="btn btn-dark bg-light text-dark float-end mx-1"
                  (click)="resetFilter()"
                >
                  <i class="bi bi-x-lg"></i>
                </button>
                <button
                  type="button"
                  class="btn btn-dark float-end mx-1"
                  (click)="add()"
                >
                  <i class="bi bi-plus-lg"></i>
                </button>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let candidate of candidates">
              <th scope="row">{{ candidate.id }}</th>
              <td>{{ candidate.firstName }}</td>
              <td>{{ candidate.lastName }}</td>
              <td>{{ candidate.party }}</td>
              <td>
                <a href="{{ candidate.image }}">{{ candidate.image }}</a>
              </td>
              <td>
                <div class="text-truncate">
                  {{
                    candidate.description.length > 20
                      ? (candidate.description | slice : 0 : 20) + "..."
                      : candidate.description
                  }}
                </div>
              </td>
              <td>
                <div class="float-end">
                  <button
                    type="button"
                    class="btn btn-danger mx-1"
                    (click)="delete(candidate.id)"
                  >
                    <i class="bi bi-trash"></i>
                  </button>
                </div>
                <div class="float-end">
                  <button
                    type="button"
                    class="btn btn-dark float-end mx-1"
                    (click)="edit(candidate.id)"
                  >
                    <i class="bi bi-pencil-square"></i>
                  </button>
                </div>
              </td>
            </tr>
            <tr *ngIf="totalCandidates < 1">
              <td colspan="7">
                <app-no-data [condition]="totalCandidates < 1" />
              </td>
            </tr>
          </tbody>
        </table>

        <div class="row mt-2" *ngIf="totalCandidates > 0">
          <div class="col">
            <ngb-pagination
              class="d-flex justify-content-center"
              [(page)]="paging.page"
              [pageSize]="paging.size"
              (pageChange)="onPageChange($event)"
              [collectionSize]="totalCandidates"
              [maxSize]="5"
            ></ngb-pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
