<nav class="navbar sticky-top navbar-dark bg-dark" *ngIf="isAuthenticated()">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/">{{ "header.name" | translate }}</a>
    </div>
    <div class="row me-auto mb-2 mb-lg-0 text-white">
      <!-- <div class="col pointer"><span routerLink="/dashboard" routerLinkActive="active">Acasă</span> </div> -->
      <div class="col pointer">
        <span routerLink="/elections" routerLinkActive="active">{{
          "header.elections" | translate
        }}</span>
      </div>
      <div class="col pointer">
        <span routerLink="/candidates" routerLinkActive="active">{{
          "header.candidates" | translate
        }}</span>
      </div>
      <div class="col pointer">
        <span routerLink="/users" routerLinkActive="active">{{
          "header.users" | translate
        }}</span>
      </div>
      <div class="col pointer">
        <span routerLink="/newsfeed" routerLinkActive="active">{{
          "header.newsfeed" | translate
        }}</span>
      </div>
      <div class="col pointer">
        <span routerLink="/events" routerLinkActive="active">{{
          "header.events" | translate
        }}</span>
      </div>
      <div class="col pointer">
        <span routerLink="/settings" routerLinkActive="active">{{
          "header.settings" | translate
        }}</span>
      </div>
    </div>
    <div class="navbar-right text-white">
      <div class="row">
        <div *ngIf="allElections.length === 0" class="col">
          <button class="btn btn-outline-warning" type="button" routerLink="/elections">
            {{ "settings.no-election-available" | translate }}
          </button>
        </div>
        <div *ngIf="allElections.length > 0" class="col">
          <div class="row">
            <div class="col">
              <div class="dropdown">
                <button
                  class="btn btn-outline-success dropdown-toggle"
                  type="button"
                  id="dynamicDropdown"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  {{
                    selectedElectionObject.id > 0
                      ? selectedElectionObject.name
                      : ("settings.current-election" | translate)
                  }}
                </button>
                <ul class="dropdown-menu" aria-labelledby="dynamicDropdown">
                  <li *ngFor="let item of allElections">
                    <a
                      class="dropdown-item"
                      (click)="selectNewElection(item)"
                      >{{ item.name }}</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col d-flex align-items-center ms-3">
          <app-language-switcher></app-language-switcher>
        </div>
        <div class="col d-flex align-items-center px-0 mx-2">
          <i class="bi bi-person-circle mx-1"></i>
          <span>{{ username }}</span>
        </div>
        <div class="col d-flex align-items-center">
          <button
            type="button"
            class="btn btn-outline-light mx-1"
            (click)="logout()"
          >
            <i class="bi bi-x-octagon"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
