<div class="container-fluid">

    <!-- TOTALS -->

    <div class="row">
        <div class="card col-3 my-1 mx-1">
            <div class="card-body">
                <div class="row">
                    <div class="col">Total candidați: </div>
                    <div class="col-2">{{ totals.candidates }}</div>
                </div>
                <div class="row">
                    <div class="col">Total useri: </div>
                    <div class="col-2">{{ totals.users }}</div>
                </div>
            </div>
        </div>
    </div>

    <!-- DATA MANIPULATION -->

    <div class="row">
        <div class="card col-3 mx-1 my-1">
            <div class="card-body">
                <!-- FAKE CANDIDATES -->
                <div class="row my-1">
                    <div class="col-2">
                        <input type="text" class="form-control" placeholder="0" [(ngModel)]="fakeCandidatesNo">
                    </div>
                    <div class="col">candidați fake</div>
                    <div class="col-2">
                        <button type="button" class="btn btn-dark" (click)="generateFakeCandidates()"><i
                                class="bi bi-person-plus-fill"></i></button>
                    </div>
                </div>

                <!-- FAKE USERS -->
                <div class="row my-1">
                    <div class="col-2">
                        <input type="text" class="form-control" placeholder="0" [(ngModel)]="fakeUsersNo">
                    </div>
                    <div class="col">useri fake</div>
                    <div class="col-2">
                        <button type="button" class="btn btn-dark" (click)="generateFakeUsers()"><i
                                class="bi bi-person-plus-fill"></i></button>
                    </div>
                </div>

                <!-- CLEAN VOTES DB -->
                <div class="row my-1">
                    <div class="col">clean votes DB</div>
                    <div class="col-2">
                        <button type="button" class="btn btn-dark" (click)="cleanElectionDB()"><i
                                class="bi bi-eraser-fill"></i></button>
                    </div>
                </div>

                <!-- ELECTION STATUS -->
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="electionEnabled" aria-checked="false"
                        [(ngModel)]="electionEnabled" (click)="switchElectionStatus()">
                    <label class="form-check-label" for="electionEnabled">Election status</label>
                </div>
            </div>
        </div>
    </div>
    <!-- DATA GENERATION CONFIRM -->
    <div class="row" *ngIf="response.length > 0">
        <div class="col font-weight-bold">
            <div class="font-weight-bold">{{ response }}</div>
        </div>
    </div>
</div>