<div class="container-fluid">
  <!--  ROW 1:  -->

  <!-- SMALL STATS -->

  <div class="row my-2">
    <div class="col min-vh-30">
      <div class="card h-100">
        <div class="card-body">
          <div class="row w-100 d-flex align-items-center" *ngIf="votesCount > 0">
            <div class="col-12 d-flex align-items-center">
              <h1 class="fw-bold">
                {{
                  getTotalVotesPercentage() | percent : "1.0-1" : "en"
                }}
                voturi
              </h1>
            </div>
            <div class="col-12 d-flex align-items-center">{{ votesCount }} / {{ totals.users }}</div>
          </div>
          <app-no-data [condition]="votesCount < 1" />
        </div>
      </div>
    </div>

    <!-- COL 2 -->

    <div class="col min-vh-30">
      <div class="card h-100">
        <div class="card-body">
          <div>
            <canvas #chartCanvas style="width: 100%; max-height: 150px;"></canvas>
            <div *ngIf="votesCount > 0" class="text-center">voturi {{ votesCount }} / {{ totals.users }} total</div>
          </div>
          <app-no-data [condition]="votesCount < 1" />
        </div>
      </div>
    </div>

    <!-- COL 3 -->

    <div class="col min-vh-30">
      <div class="card h-100">
        <div class="card-body d-flex align-items-center">
          <!-- TODO: IMPLEMENT FEATURE -->
          <app-no-data class="w-100" [condition]="true" />
        </div>
      </div>
    </div>

    <!--  TOTALS  -->

    <div class="col min-vh-30">
      <div class="card h-100">
        <div class="card-body">
          <div class="row w-100 d-flex align-items-end" *ngIf="totals.candidates > 0 && totals.users > 0">
            <div class="col">
              <h1 class="fw-bold">{{ totals.candidates }}</h1>
              <span>candidați</span>
            </div>
            <div class="col">
              <h1 class="w-100 text-end fw-bold">
                <span class="">{{ totals.users }}</span>
              </h1>
              <div class="text-end">votanți</div>
            </div>
          </div>
          <app-no-data [condition]="totals.candidates < 1 || totals.users < 1" />
        </div>
      </div>
    </div>
  </div>

  <!--  ROW 2:  -->

  <div class="row my-2">
    <!--  CANDIDATES %  -->

    <div class="col">
      <div class="card">
        <div class="card-body">
          <table class="table" *ngIf="candidatesWithStatistics.length > 0">
            <thead>
              <tr>
                <th scope="col">candidat</th>
                <th scope="col">partid</th>
                <th scope="col">procent</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let candidate of candidatesWithStatistics">
                <td>{{ candidate.firstName + " " + candidate.lastName }}</td>
                <td>
                  {{ isTheCandidateIND(candidate) ? "-" : candidate.party }}
                </td>
                <td *ngIf="candidate.totalVotes >= 0">
                  {{
                    getVotesPercentage(candidate.id) | percent : "1.0-1" : "en"
                  }}
                </td>
                <td *ngIf="!candidate.totalVotes || candidate.totalVotes < 0">-</td>
              </tr>
            </tbody>
          </table>
          <app-no-data [condition]="candidatesWithStatistics.length < 1" />
        </div>
      </div>
    </div>

    <!--  CANDIDATES TOTAL VOTES   -->

    <div class="col">
      <div class="card">
        <div class="card-body">
          <table class="table" *ngIf="candidatesWithStatistics.length > 0">
            <thead>
              <tr>
                <th scope="col">candidat</th>
                <th scope="col">partid</th>
                <th scope="col">voturi</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let candidate of candidatesWithStatistics">
                <td>{{ candidate.firstName + " " + candidate.lastName }}</td>
                <td>
                  {{ isTheCandidateIND(candidate) ? "-" : candidate.party }}
                </td>
                <td>
                  {{ candidate.totalVotes }}
                </td>
              </tr>
            </tbody>
          </table>
          <app-no-data [condition]="candidatesWithStatistics.length < 1" />
        </div>
      </div>
    </div>

    <!--  USERS EVENTS  -->

    <div class="col-6 min-vh-30">
      <div class="card h-100">
        <div class="card-body d-flex align-items-center">
          <!-- TODO: IMPLEMENT FEATURE -->
          <app-no-data class="w-100" [condition]="true" />
        </div>
      </div>
    </div>
  </div>
</div>
