/* You can add global styles to this file, and also import other style files */

ngb-pagination ::ng-deep ul > li.active > a {
    background-color: #212529 !important;
    color:white !important;
}

.page-link {
    color: black !important;
}