<!-- ALERT -->
<div
  class="alert alert-primary alert-dismissible fade show"
  role="alert"
  *ngIf="response.length > 0"
>
  {{ response }}
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card border mt-2">
        <h1 class="ms-2"><i class="bi bi-gear"></i>&nbsp;Setări</h1>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="card border mt-2">
        <!-- ELECTION STATUS -->
        <div class="row mt-2 mb-4 ms-4 form-check form-switch">
          <input
            class="form-check-input"
            type="checkbox"
            role="switch"
            id="electionEnabled"
            aria-checked="false"
            [(ngModel)]="electionEnabled"
            (click)="switchElectionStatus()"
          />
          <label class="form-check-label" for="electionEnabled"
            >Status alegeri</label
          >
        </div>

        <!-- FAKE CANDIDATES -->
        <div class="row my-1 ms-2">
          <div class="col-4">Generează candidați</div>
          <div class="col-1">
            <button
              type="button"
              class="btn btn-dark"
              (click)="generateFakeCandidates()"
            >
              <i class="bi bi-file-person"></i>
            </button>
          </div>
        </div>

        <!-- FAKE USERS -->
        <div class="row my-1 ms-2">
          <div class="col-2 mr-2">Generează utilizatori:</div>
          <div class="col-2">
            <input
              type="text text-center"
              class="form-control col-2"
              placeholder="0"
              [(ngModel)]="fakeUsersNo"
              [ngModelOptions]="{ standalone: true }"
            />
          </div>
          <div class="col-1">
            <button
              type="button"
              class="btn btn-dark"
              (click)="generateFakeUsers()"
            >
              <i class="bi bi-person-plus-fill"></i>
            </button>
          </div>
        </div>

        <!-- FAKE VOTES -->
        <div class="row my-1 ms-2">
          <div class="col-2">Generează voturi:</div>
          <div class="col-2">
            <input
              type="text"
              class="form-control"
              placeholder="0"
              [(ngModel)]="fakeVotesNo"
            />
          </div>
          <div class="col-1">
            <button
              type="button"
              class="btn btn-dark"
              (click)="generateFakeVotes()"
            >
              <i class="bi bi-envelope-plus"></i>
            </button>
          </div>
        </div>

        <!-- CLEAN VOTES DB -->
        <div class="row mt-1 mb-4 ms-2">
          <div class="col-4">
            {{ "Șterge " + votesCount + " voturi din DB" }}
          </div>
          <div class="col-1">
            <button
              type="button"
              class="btn btn-dark"
              (click)="cleanElectionDB()"
            >
              <i class="bi bi-eraser-fill"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
